# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

.hypothesis/
.pytest_cache/

# Jupyter Notebook
.ipynb_checkpoints

# Data folder
data/vehiclePosition*.csv
data/vehiclePosition*.json
